{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    Project implemented by the "Recovery, Transformation and Resilience Plan.
    Funded by the European Union - Next GenerationEU".
    Produced by the UNIMOODLE University Group: Universities of
    Valladolid, Complutense de Madrid, UPV/EHU, León, Salamanca,
    Illes Balears, Valencia, Rey Juan Carlos, La Laguna, Zaragoza, Málaga,
    Córdoba, Extremadura, Vigo, Las Palmas de Gran Canaria y Burgos
}}
{{!
  @template local_coursetransfer/components/logs_nav

  Example context (json):

}}
<ul data-region="logs_nav" class="nav nav-tabs">
    <form action="{{ form_url }}" method="post">
        <div class="form-row row g-2">
            <div class="form-group mb-3 mr-3 me-3">
                <label for="type">{{#str}} type, local_coursetransfer {{/str}}</label>
                <select id="type" class="form-control" name="type">
                    {{# selects.type }}
                        <option value="{{ value }}" {{# selected }}selected{{/ selected }}>{{ name }}</option>
                    {{/ selects.type }}
                </select>
            </div>
            <div class="form-group mb-3 mr-3 me-3">
                <label for="direction">{{#str}} direction, local_coursetransfer {{/str}}</label>
                <select id="direction" class="form-control" name="direction">
                    {{# selects.direction }}
                        <option value="{{ value }}" {{# selected }}selected{{/ selected }}>{{ name }}</option>
                    {{/ selects.direction }}
                </select>
            </div>
            <div class="form-group mb-3 mr-2 me-2" style="display: flex; align-items: flex-end;">
                <button type="submit" class="btn btn-primary">{{#str}} view_logs, local_coursetransfer {{/str}}</button>
            </div>
            <div class="form-group mb-3" style="display: flex; align-items: flex-end;">
                <a href="{{ restore_url }}" class="btn btn-outline-secondary" target="_blank">{{#str}} restore_page, local_coursetransfer {{/str}}</a>
            </div>
        </div>
        <div class="form-row row g-2">
            <div class="form-group mb-3 mr-3 me-3">
                <label for="fstatus">{{#str}} status, local_coursetransfer {{/str}}</label>
                <select id="fstatus" class="form-control" name="fstatus">
                    {{# filter.statusoptions }}
                        <option value="{{ value }}" {{# selected }}selected{{/ selected }}>{{ name }}</option>
                    {{/ filter.statusoptions }}
                </select>
            </div>
            <div class="form-group mb-3 mr-3 me-3">
                <label for="fdatefrom">{{#str}} filter_datefrom, local_coursetransfer {{/str}}</label>
                <input type="date" id="fdatefrom" class="form-control" name="fdatefrom" value="{{ filter.datefrom }}">
            </div>
            <div class="form-group mb-3 mr-3 me-3">
                <label for="fdateto">{{#str}} filter_dateto, local_coursetransfer {{/str}}</label>
                <input type="date" id="fdateto" class="form-control" name="fdateto" value="{{ filter.dateto }}">
            </div>
            <div class="form-group mb-3 mr-3 me-3">
                <label for="fsizemin">{{#str}} filter_sizemin, local_coursetransfer {{/str}}</label>
                <input type="number" min="0" id="fsizemin" class="form-control" name="fsizemin" value="{{ filter.sizemin }}">
            </div>
            <div class="form-group mb-3 mr-3 me-3">
                <label for="fsizemax">{{#str}} filter_sizemax, local_coursetransfer {{/str}}</label>
                <input type="number" min="0" id="fsizemax" class="form-control" name="fsizemax" value="{{ filter.sizemax }}">
            </div>
            <div class="form-group mb-3 mr-2 me-2" style="display: flex; align-items: flex-end;">
                <button type="submit" class="btn btn-primary">{{#str}} filter_apply, local_coursetransfer {{/str}}</button>
            </div>
            <div class="form-group mb-3" style="display: flex; align-items: flex-end;">
                <select name="dataformat" class="form-control mr-2 me-2" style="width: auto;">
                    <option value="csv">CSV</option>
                    <option value="excel">Excel</option>
                    <option value="ods">ODS</option>
                </select>
                <button type="submit" class="btn btn-outline-secondary" formaction="{{ export_url }}">{{#str}} export, local_coursetransfer {{/str}}</button>
            </div>
        </div>
    </form>
</ul>